:root {
  --dark-grey: #686868;
  --light-grey: #ccc;

  --heading-spacing: 4rem;
  --medium-spacing: 20px;
  --paragraph-spacing: 40px;
  --small-spacing: 10px;
  --tall-spacing: 10px;

  --readable-inset-width: 32rem;

  --small-text: 1rem;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9f9f9;
  max-width: 900px;

  margin-top: var(--tall-spacing);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;

  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.8;
  color: rgb(31, 31, 31);
}

figure {
  display: block;
  margin: 0;
  text-align: center;
}

figcaption {
  font-size: var(--small-text);
  margin-top: 10px;
}

img {
  height: auto;
  max-width: fit-content;
  width: 100%;
}

h1,
h2,
p,
table {
  margin-inline: auto;
  max-width: 760px;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border-top: 1px solid var(--light-grey);
  padding-top: 4px;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.2;
}

figure,
h2,
ol,
p,
table,
ul,
.highlight {
  margin-bottom: var(--paragraph-spacing);
}

li {
  margin-bottom: calc(var(--paragraph-spacing) / 4);
}

blockquote,
article ol,
article ul {
  margin-inline: auto;
  max-width: 700px;
  text-align: justify;
}

blockquote {
  font-style: italic;
  color: rgb(61, 2, 88);
}

.article-list img {
  border-radius: 10px;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 20px;
  margin-inline: auto;
  max-width: 760px;
}

.article-list h1 {
  font-size: 1.8rem !important;
  margin-bottom: 20px !important;
}

p {
  width: 100%;
  margin-top: 0;
}

h1 {
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0;
}

/* PAGE */

#header {
  margin-bottom: var(--medium-spacing);
}

#site-title {
  font-weight: 500;
  letter-spacing: 0.02rem;
  margin: 0;
  text-align: center;
}

#site-title > a {
  color: inherit;
}

/* ARTICLE LIST */

.date {
  font-weight: 800;
}

.article-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
}

.article-list > * {
  display: flex;
  flex-flow: column nowrap;
}

/* ARTICLE */

article p {
  text-align: justify;
}

#single h1 {
  font-size: 2rem;
  margin-bottom: var(--medium-spacing);
  text-align: center;
}

#single header {
  margin-bottom: var(--medium-spacing);
}

#single header img {
  margin-top: var(--medium-spacing);
}

.content-warning {
  background-color: rgb(255, 255, 191);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: var(--small-text);
  padding: 10px;
}

.image-shortcode {
  border-radius: 10px;
}

.preamble {
  font-size: var(--small-text);
  margin-top: 0;
  margin-bottom: var(--small-spacing);
  text-align: center;
}

/* ARTICLE FOOTER */

.footnotes ol {
  max-width: 900px;
}

.footnotes {
  font-size: var(--small-text);
}

.footnotes p {
  margin: 0;
}

/* PAGE FOOTER */

#page-footer {
  font-size: var(--small-text);
  margin-top: 100px;
  margin-bottom: 100px;
}

#copyright {
  text-align: center;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/merriweather-sans/merriweather-sans-v26-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@media (min-width: 700px) {
  :root {
    --tall-spacing: 100px;
    --medium-spacing: 60px;
  }

  #site-title {
    text-align: left;
  }

  #single h1 {
    font-size: 4rem;
    text-align: left;
  }

  .preamble {
    text-align: left;
  }
}
