{{ $name := .Get "name" }}
{{ $images := .Site.GetPage "/images" }}
{{ $resource := $images.Resources.GetMatch $name }}

{{ $imageWidth := math.Min $resource.Width 900 }}

{{ $anchor := default "Smart" $resource.Params.anchor }}
{{ $params := print $imageWidth "x " $anchor " Lanczos webp " $resource.Params.webp_preset }}
{{ $img := $resource.Resize $params }}

<figure>

  <img
    alt="{{ $resource.Params.alt }}"
    class="image-shortcode"
    height="{{ $img.Height }}"
    src="{{ $img.RelPermalink }}"
    width="{{ $imageWidth }}"
  />

  {{
    if or
      $resource.Params.attribution
      $resource.Params.caption
  }}
    <figcaption>
      {{- $resource.Params.caption | markdownify -}}
      {{
        if and
          (isset $resource.Params "attribution")
          (isset $resource.Params "caption")
      }}
        <br />
      {{ end }}
      {{- $resource.Params.attribution | safeHTML -}}
    </figcaption>
  {{ end }}

</figure>
